@font-face {
	font-family: 'Helvetica';
	font-weight: 400;
	src: url('../fonts/Helvetica.ttf');
}
@font-face {
	font-family: 'Helvetica';
	font-weight: 600;
	src: url('../fonts/Helvetica-Bold.ttf');
}
@font-face {
	font-family: 'Helvetica';
	font-weight: 300;
	src: url('../fonts/Helvetica-Light.ttf');
}
