@import "bootstrap/bootstrap";
@import "fonts";

$white: #ffffff;
$darkblue: #3b5d6f;

$blue: #567484;
$red: #c13f3c;

body {
	background-color: $white;
	font-family: 'Helvetica';
}

.sidebar {
	background-color: $darkblue;
	color: white;
	padding: 1rem;

	&__logo {
		margin-right: 2rem;
		line-height: 4rem;
		display: inline-block;
	}

	&__logo_img {
		width: 3rem;
		margin: .5rem;
		vertical-align: middle;
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
		font-size: 2em;
		margin-bottom: 0;
		font-weight: 600;
	}

	a {
		color: $white;
		font-size: 1.2em;
		font-weight: 500;
	}
}

.nav-sidebar {

	padding-left: 4.1rem;

	li {
		margin-bottom: 1rem;
	}

	li.active {
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: .5rem;
			left: -1.5rem;
			width: .5rem;
			height: .5rem;
			border-radius: 100%;
			background-color: $white;
		}
	}
}

.nav-inline {
	display: inline-block;
	line-height: 4rem;

	.nav-item {
		margin-right: 1rem;
		vertical-align: middle;
	}
}

.content {
	padding: 2rem 1rem;
}

.btn.btn-primary {
	background-color: $red;
	border: none;
	transition: all .4s ease;

	&:hover {
		background-color: darken($red, 10%);
	}
}

@keyframes highlight {
	0% {
		background-color: inherit;
		color: inherit;
	}
	35% {
		background-color: $blue;
		color: $white;
	}
	100% {
		background-color: inherit;
		color: inherit;
	}
}

@keyframes scale {
	0% {
		transform: scale(6);
		opacity: .3;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.item-new-transition {
	animation-name: scale;
	animation-duration: .6s;
	animation-iteration-count: 1;
}

.item_status {
	font-size: 1em;
}